.about{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &-about{
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        height: 10%;
        width: 100%;
    }
    &--title{
        font-size: 3rem;
    }

    &__paragraph{
        width: 50%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    &__images{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20%;
    }
    &__heading{
        font-size: 250%;
    }
    &__text{
       font-size: 150%;
        margin-bottom: 6%;
    }
}
.image--about{
    width: 20rem;
    min-width: 30%;
    z-index: 1;
}
.image--active{
    z-index: 2;
    transform: scale(1.25);
}

@media only screen and (max-width: 900px) {
    .about__images{
        width: 80%;
    }
  }